@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1d1d1d;
}

.container {
    width: 600px;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 12px;
    padding: 30px 40px;
}

.maintenance-image {
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin-bottom: 20px;
}

.maintenance-text {
    color: #fff;
    text-align: center;
    font-size: 18px;
}
