@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1d1d1d;
}

.container {
    width: 600px;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 12px;
    padding: 30px 40px;
    position: relative;
}

.maintenance-image {
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin-bottom: 20px;
}

.maintenance-text {
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    flex-grow: 1;
}

.readme-button {
    background-color: #111;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.readme-button:hover {
    background-color: #222;
}
